<% if(rentals){%>
<figure>
  <img src="/images/<%= rentals.imageUrl %>" alt="<%= rentals.headline %>" />
  <figcaption class="<%= isMain ? 'fig1' : 'fig4' %>">
    <p><%= rentals.headline %></p>
  </figcaption>
  <figcaption class="fig1">
    <% if(rentals && isMain) {%>
    <p><%= rentals.city %>, <%= rentals.province %></p>
    <% } %>
    <figure class="fig2">
      <p>
        Sleeps <%= rentals.numSleeps %> | <%= rentals.numBedrooms %> BR | <%=
        rentals.numBathrooms %> BA | C$<%= rentals.pricePerNight %>/night
      </p>
    </figure>
  </figcaption>
</figure>
<% } else { %>
<figure>
  <img src="/images/<%= rentals.imageUrl %>" alt="<%= rentals.headline %>" />
  <figcaption class="fig4">
    <p><%= rentals.headline %></p>
    <figure class="fig2">
      <p>
        Sleeps <%= rentals.numSleeps %> | <%= rentals.numBedrooms %> BR | <%=
        rentals.numBathrooms %> BA | C$<%= rentals.pricePerNight %>/night
      </p>
    </figure>
  </figcaption>
</figure>
<%} %>
