<figure>
  <img src="/images/<%= rental.imageUrl %>" alt="<%- rental.headline %>" />
  <figcaption class="<%= isMain ? 'fig1' : 'fig4' %>">
    <p><%= rental.headline %></p>
  </figcaption>
  <figcaption class="fig1">
    <% if(rental && isMain) {%>
    <p><%= rental.city %>, <%= rental.province %></p>
    <% } %>
    <figure class="fig2">
      <p>
        Sleeps <%= rental.numSleeps %> | <%= rental.numBedrooms %> BR | <%=
        rental.numBathrooms %> BA | C$<%= rental.pricePerNight %>/night
      </p>
      <div class="rental-cart">
        <% if(user && role === "customer") { %>
        <form action="/cart" method="GET">
          <input type="hidden" name="rentalId" value="<%= rental._id %>" />
          <button type="submit">Rent</button>
        </form>
        <% } %>
      </div>
    </figure>
  </figcaption>
</figure>
