<% if (addRentalMessage) { %>
<div class="cart-message">
  <p><%= addRentalMessage %></p>
</div>
<% } %> <% if (removeRentalMessage) { %>
<div class="cart-message">
  <p><%= removeRentalMessage %></p>
</div>
<% } %>
<div class="rental-table">
  <table>
    <tr>
      <th>Rental</th>
      <th>Nights</th>
      <th>Price</th>
    </tr>
    <% if(rentals.length > 0) { %> <% rentals.forEach(rental => { %>
    <tr>
      <td>
        <div class="cart-info">
          <img src="images/<%= rental.imageUrl %>" alt="Rental Thumbnail" />
          <div>
            <p><%= rental.headline %></p>
            <p><%= rental.city %> <%= rental.province %></p>
            <a href="/cart?removeRental=<%= rental._id %>">Remove</a>
          </div>
        </div>
      </td>
      <td>
        <form action="/cart" method="get">
          <input type="hidden" name="rentalId" value="<%= rental._id %>" />
          <input
            type="number"
            min="1"
            name="nights"
            value="<%= rental.nights || 1 %>"
          />
          <button type="submit" name="update">Update</button>
        </form>
      </td>
      <td>$<%=(rental.pricePerNight * (rental.nights || 1)).toFixed(2)%></td>
    </tr>
    <% }) %>
    <tr>
      <td colspan="2">Subtotal</td>
      <td>$<%= rentals.length > 0 ? subtotal : '0.00' %></td>
    </tr>
    <tr>
      <td colspan="2">Tax:</td>
      <td>$<%= rentals.length > 0 ? tax : '0.00' %></td>
    </tr>
    <tr>
      <td colspan="2">Total:</td>
      <td>$<%= rentals.length > 0 ? total : '0.00' %></td>
    </tr>
    <% } else { %>
    <tr>
      <td><p>Empty shopping cart</p></td>
    </tr>
    <% } %>
  </table>
<td>
    <tr>
</div>
<div class="order-button">
  <form action="/cart" method="post">
    <button type="submit" name="placeOrder">Place Order</button>
  </form>
</div>
    </tr>
</td>