<div class="remove-rental">
  <h3>Are you sure you want to remove this rental?</h3>
  <div class="rental-image">
    <p><%= rentals.headline %></p>
    <img src="/images/<%= rentals.imageUrl %>" alt="Rental Image" />
  </div>
  <figure class="fig2">
    <p>
      Sleeps <%= rentals.numSleeps %> | <%= rentals.numBedrooms %> BR | <%=
      rentals.numBathrooms %> BA | C$<%= rentals.pricePerNight %>/night
    </p>
  </figure>
  <form action="/rentals/remove/<%= rentals._id %>" method="post">
    <input type="hidden" name="confirmed" value="true" />
    <button type="submit">Delete Rental</button>
  </form>
</div>
